@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin text ($font, $weight, $color) {
    font-size: $font;
    font-weight: $weight;
    color: $color;
}